@import '../variables.css';

:root {
  --max-height: 400px;
}

.ProjectWrapper {
  position: relative;
  overflow: hidden;
  padding-bottom: 56% !important;
}

@media only screen and (--medium) {
  .ProjectWrapper {
    padding-bottom: 30% !important;
  }
}

@media only screen and (--large) {
  .ProjectWrapper {
    padding-bottom: 19% !important;
  }
}

@media only screen and (--xlarge) {
  .ProjectWrapper {
    padding-bottom: 14.5% !important;
  }
}

.ProjectWrapper-container {
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background-color: transparent;

  transform: translate3d(0, 0, 0);
  -webkit-overflow-scrolling: touch;
}

.ProjectWrapper-container--closed {
  position: absolute;
  overflow: hidden;
}

.ProjectWrapper-container--hoverable {
  background-color: var(--black);
}

.ProjectWrapper-container--closed .ProjectWrapper-svgContainer {
  width: 100%;
  height: 100%;
}

.ProjectWrapper-svgContainer {
  max-height: var(--max-height);
  width: 100%;
  height: 100%;
}

.ProjectWrapper-svg {
  position: relative;
  left: 50%;
  display: block;
  max-height: var(--max-height);
  height: 100%;

  transition: transform .4s var(--animation-swift);
  transform: translateX(-50%);;
}

.ProjectWrapper-svg image {
  transition: opacity .4s var(--animation-swift);
}

.ProjectWrapper:hover .ProjectWrapper-container--hoverable .ProjectWrapper-svg {
  transform: translateX(-50%) translateY(-10%);
}

.ProjectWrapper:hover .ProjectWrapper-container--hoverable .ProjectWrapper-svg image {
  opacity: 0.5;
}
