@import '../variables.css';

.ProjectImage-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://commons.wikimedia.org/wiki/File%3ATransparent.gif');
  /*box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.7) inset;*/
  text-align: center;
  cursor: pointer;
  z-index: 2;

  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

/*.ProjectCaption-wrapper img {*/
/*position: relative;*/
/*opacity: 0.8;*/

/*transition: transform 0.35s var(--animation-swift), opacity 0.25s var(--animation-swift);*/
/*}*/

/*.ProjectCaption-wrapper:hover img {*/
/*opacity: 0.4;*/

/*transform: translate3d(0, -20%, 0);*/
/*}*/

.ProjectImage-wrapper figcaption {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3em;
  background: var(--black);
  text-transform: uppercase;

  transition: transform 0.35s var(--animation-swift);
  transform: translate3d(0, 100%, 0);
  backface-visibility: hidden;
}

.ProjectImage-wrapper h2 {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0.75rem 2rem;
  color: var(--white);
  text-align: left;
  font-weight: 700;
  font-size: 1em;

  transition: transform 0.35s var(--animation-swift);
  transform: translate3d(0, 200%, 0);
}

.ProjectImage-wrapper p.description {
  position: absolute;
  bottom: 2rem;
  padding: 2rem;
  width: 100%;
  color: var(--white);
  text-transform: none;
  text-shadow: 0 1px 2px var(--black);
  font-size: 90%;
  opacity: 0;

  transition: opacity 0.25s var(--animation-swift);
  backface-visibility: hidden;
}

@media screen and (--medium) {
  .ProjectImage-wrapper p.description {
    bottom: 3rem;
    padding: 2rem;
  }
}

.ProjectImage-wrapper:hover p.description {
  opacity: 1;
}

.ProjectImage-wrapper:hover figcaption,
.ProjectImage-wrapper:hover h2 {
  transform: translate3d(0, 0, 0);
}

.ProjectImage-wrapper:hover h2 {
  transition-delay: 0.05s;
}

.touch .ProjectImage-wrapper p.description {
  /*opacity: 1;*/
}

.touch .ProjectImage-wrapper figcaption,
.touch .ProjectImage-wrapper h2 {
  transform: translate3d(0, 0, 0);
}

