@import '../variables.css';

/*
 * Base styles
 * ========================================================================== */

html {
  color: #222;
  font-weight: 100;
  font-size: 1em; /* ~16px; */
  font-family: var(--font-family-base);
  line-height: 1.375; /* ~22px */
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

figure {
  margin: 1em 0;
}

/*
 * Browser upgrade prompt
 * ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  padding: 0.2em 0;
  background: #ccc;
  color: #000;
}

/*
 * Personal changes
 * ========================================================================== */

html {
  /*overflow-x: hidden;*/
}

body {
  overflow-x: hidden;
  padding-top: calc(var(--header-height) - var(--section-buffer-l));
  background-color: var(--black);
  font-family: var(--font-family-base);
}

@media only screen and (--medium) {
  body {

  }
}

body.body--hidden {
  overflow-y: hidden;
}

.ContentPage, .Footer, .ProjectImage-wrapper, .Portfolio-title, .Contact, .divider {
  transition: opacity 0.7s var(--animation-swift);
}

body.body--hidden .ContentPage, body.body--hidden .Footer, body.body--hidden .Contact, body.body--hidden .ProjectImage-wrapper {
  pointer-events: none;
}

body.body--hidden .ProjectImage-wrapper, body.body--hidden .Portfolio-title, body.body--hidden .Footer, body.body--hidden .Contact, body.body--hidden .divider {
  opacity: 0;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-family-heading)
}

section {
  padding: var(--section-buffer-s) 0;
}

@media only screen and (--medium) {
  section {
    padding: var(--section-buffer-l) 0;
  }
}

.divider {
  height: 1px;
  background-color: var(--gray-light);
}

.overlay {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
  opacity: 0;

  transition: opacity 1s var(--animation-swift);
  pointer-events: none;
}

.overlay--show {
  visibility: visible;
  opacity: 1;
}

.overlay--hidden {
  visibility: hidden;
}

.body--hidden .overlay {
  visibility: visible;
  opacity: 1;
}

.section-title {
  margin: 0 0 1rem;
  text-align: center;
}

@media only screen and (--medium) {
  .section-title {
    margin: 0 0 2rem;
    text-align: left;
  }
}

.text-link,
.text-link:active,
.text-link:visited {
  color: gray(255, 70%);

  transition: color 0.35s var(--animation-swift);
}

.text-link:hover {
  color: gray(255, 100%);
}

.text-link:hover .icon-social {
  opacity: 1;
}

.text-link--active {
  color: gray(255, 100%);
}

.text-link-icon {
  display: inline-block;
}

.icon-social, .icon-arrow {
  display: inline-block;
  margin: 0 8px;
  width: 20px;
  vertical-align: text-bottom;
  opacity: 0.8;

  transition: opacity 0.35s var(--animation-swift);
}

.button-fixed {
  position: fixed;
  z-index: 1001;
  visibility: hidden;
  width: 30px;
  background-color: var(--white);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);

  transition: opacity 1.35s var(--animation-swift), background-color .35s var(--animation-swift);
  pointer-events: none;
}

.button-fixed img {
  transition: transform .25s var(--animation-swift);
}

.active .button-fixed {
  /*opacity: 0;*/
}

.body--hidden .button-fixed {
  visibility: visible;
  pointer-events: all;
}

.button-fixed:hover {
  background-color: var(--gray-light);
}

.button-fixed:active {
  background-color: var(--gray);
}

.button-fixed:active img {
  transform: scale(0.8);
}

.button-side {
  top: calc(60vh - 55px);
  line-height: 1;
  opacity: 1;
}

.button-top {
  top: -10.5rem;
}

.touch .button-top {
  top: -11.2rem;
}

.button-bottom {
  bottom: 0;
  transition: bottom .35s var(--animation-swift);
}

.button-right {
  right: 1.2rem;
}

.touch .button-right {
  right: 0;
}

.button-left {
  left: 0;
}

.touch .button-left {
  left: 0;
}

.button-side.button-right {
  right: -11.3rem;
}

.touch .button-side.button-right {
  right: -12.5rem;
}

.button-side.button-left {
  left: -12.5rem;
}

@media only screen and (--medium) {
  .button-fixed:hover img {
    transform: scale(1.4);
  }

  .button-top {
    top: -10.5rem;
  }

  .button-bottom {
    bottom: -2rem;
  }

  .button-bottom--show {
    bottom: 1rem;
  }

  .button-right {
    right: 2rem;
  }

  .button-left {
    left: 1rem;
  }

  .button-side {
    /* (lh = 80 w = 30) / 2 */
    top: calc(50vh - 55px);
    line-height: 5;
  }

  .button-side.button-right {
    right: -10.5rem;
  }

  .button-side.button-left {
    left: -11.5rem;
  }
}

#container {
  position: absolute;
  top: 20vh;
  z-index: -1;
  overflow: hidden;
}

#container.container--below {
  position: fixed;
  top: -15vh;
}

.no-webgl #container {
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('https://res.cloudinary.com/dp1pal3mi/image/upload/v1442463714/Form_React_Wallpaper_3_-_1280x800_lcuotl.jpg');
  background-position: bottom center;
  background-size: cover;
}

@media only screen and (--medium) {
  #container {
    top: 12vh;
  }
}

/*
 * Overrides
 * ========================================================================== */
.row {
  max-width: 75em;
}

.column,
.columns {
  padding-right: 0.83333rem;
  padding-left: 0.83333rem;
}

button:hover, button:focus, .button:hover, .button:focus {
  background-color: var(--text-light);
  color: var(--text-dark);
}

button, .button {
  margin: 0;
  border: 1px solid var(--text-light);
  background-color: transparent;
  color: var(--text-light);
  text-transform: uppercase;
  font-family: var(--font-family-base);

  transition: background-color 300ms var(--animation-swift), color 300ms var(--animation-swift);
}

@media only screen and (--xlarge) {
  .xlarge-block-grid-1 > li {
    width: 100%;
    list-style: none;
  }

  .xlarge-block-grid-1 > li:nth-of-type(n) {
    clear: none;
  }

  .xlarge-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both;
  }

  .xlarge-block-grid-2 > li {
    width: 50%;
    list-style: none;
  }

  .xlarge-block-grid-2 > li:nth-of-type(n) {
    clear: none;
  }

  .xlarge-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both;
  }

  .xlarge-block-grid-3 > li {
    width: 33.33333%;
    list-style: none;
  }

  .xlarge-block-grid-3 > li:nth-of-type(n) {
    clear: none;
  }

  .xlarge-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both;
  }

  .xlarge-block-grid-4 > li {
    width: 25%;
    list-style: none;
  }

  .xlarge-block-grid-4 > li:nth-of-type(n) {
    clear: none;
  }

  .xlarge-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both;
  }
}

/*
 * Print styles
 * Inlined to avoid the additional HTTP request:
 * http://www.phpied.com/delay-loading-your-print-css/
 * ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    box-shadow: none !important; /* Black prints faster: http://www.sanbeiji.com/archives/953 */
    color: #000 !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
