@import '../variables.css';

/*
 * Base styles
 * ========================================================================== */

html {
  color: #222;
  font-weight: 100;
  font-size: 1em; /* ~16px; */
  font-family: var(--font-family-base);
  line-height: 1.375; /* ~22px */
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

figure {
  margin: 1em 0;
}

/*
 * Browser upgrade prompt
 * ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  padding: 0.2em 0;
  background: #ccc;
  color: #000;
}

body {
  padding-top: calc(var(--header-height) - var(--section-buffer-l));
  background-color: var(--black);
  font-family: var(--font-family-base);
}

@media only screen and (--medium) {
  body {

  }
}

body.body--hidden {
  overflow-y: hidden;
}

.ContentPage, .Footer, .ProjectImage-wrapper, .Portfolio-title {
  transition: opacity 0.7s var(--animation-swift);
}

body.body--hidden .ContentPage, body.body--hidden .Footer, body.body--hidden .Contact, body.body--hidden .ProjectImage-wrapper {
  pointer-events: none;
}

body.body--hidden .ProjectImage-wrapper, body.body--hidden .Portfolio-title  {
  opacity: 0;
}

h1, h2, h3, h4 {
  font-family: var(--font-family-heading)
}

section {
  padding: var(--section-buffer-s) 0;
}

@media only screen and (--medium) {
  section {
    padding: var(--section-buffer-l) 0;
  }
}

.divider {
  height: 1px;
  background-color: var(--gray-light);
}

.overlay {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
  opacity: 0;

  transition: opacity 1.2s var(--animation-swift);
  pointer-events: none;
}

.body--hidden .overlay {
  opacity: 1;
}

.section-title {
  text-align: center;
}

@media only screen and (--medium) {
  .section-title {
    text-align: left;
  }
}

.text-link,
.text-link:active,
.text-link:visited {
  color: gray(255, 70%);

  transition: color 0.35s var(--animation-swift);
}

.text-link:hover {
  color: gray(255, 100%);
}

.text-link:hover .icon-social {
  opacity: 1;
}

.text-link-icon {
  display: inline-block;
}

.text-link--active {
  color: gray(255, 100%);
}

.icon-social, .icon-arrow {
  display: inline-block;
  margin: 0 8px;
  width: 20px;
  vertical-align: text-bottom;
  opacity: 0.8;

  transition: opacity 0.35s var(--animation-swift);
}

.button-fixed {
  position: fixed;
  z-index: 1;
  width: 30px;
  opacity: 0;
  pointer-events: none;
  background-color: var(--white);

  transition: opacity 1.35s var(--animation-swift), transform .35s var(--animation-swift), background-color .35s var(--animation-swift);
}
.active .button-fixed {
  opacity: 0;
}
.body--hidden .button-fixed {
  opacity: 1;
  pointer-events: all;
}

.button-fixed:hover {
  transform: scale(1.5);
  background-color: var(--gray-light);
}

.button-side {
  /* (lh = 80 w = 30) / 2 */
  top: calc(50vh - 55px);
  line-height: 5;
}

.button-top {
  top: 1rem;
}
.button-bottom {
  bottom: 1rem;
}
.button-right {
  right: 2rem;
}
.button-left {
  left: 1rem;
}

/*
 * Overrides
 * ========================================================================== */
.row {
  max-width: 75em;
}

.column,
.columns {
  padding-right: 0.83333rem;
  padding-left: 0.83333rem;
}

button:hover, button:focus, .button:hover, .button:focus {
  background-color: var(--text-light);
  color: var(--text-dark);
}

button, .button {
  margin: 0;
  border: 1px solid var(--text-light);
  background-color: transparent;
  color: var(--text-light);
  text-transform: uppercase;
  font-family: var(--font-family-base);
  transition: background-color 300ms var(--animation-swift), color 300ms var(--animation-swift);
}

/*
 * Print styles
 * Inlined to avoid the additional HTTP request:
 * http://www.phpied.com/delay-loading-your-print-css/
 * ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    box-shadow: none !important; /* Black prints faster: http://www.sanbeiji.com/archives/953 */
    color: #000 !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
