@import '../variables.css';

.Navigation-link {
  display: inline-block;
  padding: 3px 12px;
  text-decoration: none;
  text-transform: uppercase; /* ~18px */
  font-size: 1.125em;
}

.Navigation-link:last-child {
  padding-right: 0;
}

.Navigation-link--highlight {
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 3px;
  background: rgba(0, 0, 0, .15);
  color: var(--white);
}

.Navigation-link--highlight:hover {
  background: rgba(0, 0, 0, .3);
}

.Navigation-desktop {
  margin-top: -200px;
  transition: margin-top 0.25s var(--animation-swift);
}

@media (--medium) {
  .Navigation-desktop {
    margin-top: 0;
  }
}

.Navigation--down {
  position: absolute;
  display: block !important;
  margin-top: 20px;
  background-color: var(--black);
}

