@import '../variables.css';

.Navigation {
}

.Navigation-link {
  display: inline-block;
  padding: 3px 12px;
  text-decoration: none;
  text-transform: uppercase; /* ~18px */
  font-size: 1.125em;
}

@media (--medium) {
  .Navigation-link:last-child {
    padding-right: 0;
  }
}

.Navigation-link--highlight {
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 3px;
  background: rgba(0, 0, 0, .15);
  color: var(--white);
}

.Navigation-link--highlight:hover {
  background: rgba(0, 0, 0, .3);
}

.Navigation-mobileIcon {
  display: inline-block;
  width: 2rem;
  height: .3rem;
  background: var(--white);

}

.Navigation-mobileIcon::before, .Navigation-mobileIcon::after {
  display: block;
  width: 2rem;
  height: .3rem;
  background: var(--white);
  content: '';

  transition: transform 0.25s var(--animation-swift);
}

.Navigation-mobileIcon::before {
  transform: translateY(-0.55rem);
}

.Navigation-mobileIcon::after {
  transform: translateY(0.25rem);
}

.Navigation-mobileIcon.Navigation-mobileIcon--clicked {
  background: transparent;
}

.Navigation-mobileIcon.Navigation-mobileIcon--clicked::before {
  transform: translateY(0rem) rotate(-45deg);
}

.Navigation-mobileIcon.Navigation-mobileIcon--clicked::after {
  transform: translateY(-0.3rem) translateX(0rem) rotate(45deg);
}

.Navigation-mobile-list {
  position: fixed;
  top: 3.9rem;
  left: 100vw;
  width: 100%;
  background-color: var(--gray-darker);
  text-align: center;
  opacity: 0;

  transition: left 0.25s var(--animation-swift), opacity 0.25s var(--animation-swift);
}

.Navigation-mobile-list--reveal {
  left: 0;
  opacity: 1;
}

.Header--up .Navigation-mobile-list {
  top: -2.4rem;
  opacity: 0;
}

.Navigation-desktop {
  background-color: var(--gray-darker);
  text-align: right;
}

.Navigation-mobile .Navigation-link {
  padding: 2px 0 8px 8px;
}

.Navigation-mobile .Navigation-link .icon-social {
  margin: 0;
}
