@import '../variables.css';

.Content-container {

}

.ContentPage-info {
  background-image: url('https://res.cloudinary.com/dp1pal3mi/image/upload/v1442463714/Form_React_Wallpaper_3_-_1280x800_lcuotl.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh;
  color: var(--white);
}

.ContentPage-info h1 {
  margin-top: 15vh;
  color: var(--white);
}

.ContentPage-info h2 {
  color: var(--white);
}

.ContentPage-skills div > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.ContentPage-skills div > ul > li {
  margin-top: 0.25em;
}

.ContentPage-skills div > ul li > ul li {

}

.ContentPage-skills div > ul li > ul li {
  list-style: none;
  font-size: 0.85em;
  font-weight: normal;
}
