@import '../variables.css';

.ContentPage {
  padding-bottom: 0;
}

.ContentPage-info {
  height: 100vh;
  background-image: url('https://res.cloudinary.com/dp1pal3mi/image/upload/v1442463714/Form_React_Wallpaper_3_-_1280x800_lcuotl.jpg');
  background-position: center center;
  background-size: cover;
  color: var(--text-light);
}

.ContentPage-info h1 {
  margin: 1rem 0 10px;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 3em;
  line-height: 1;
}

@media only screen and (--medium) {
  .ContentPage-info h1 {
    font-size: 5.2em;
  }
}

.ContentPage-info h2 {
  margin: 0 0 10vh;
  color: var(--text-light);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 500;
  line-height: 1.2;
}

.ContentPage-info img {
  width: 200px;
}

.ContentPage-skills {
  text-align: center;
  background: linear-gradient(to bottom, #000 0, #034060 100%);
}

@media only screen and (--medium) {
  .ContentPage-skills {
    text-align: left;
  }
}

.ContentPage-skills h2, h3 {
  color: var(--text-light);
}

.ContentPage-skills .ContentPage-skillsContainerItem > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: bold;
}

.ContentPage-skills .ContentPage-skillsContainerItem > ul > li {
  margin-top: 0.25em;
  color: var(--text-light);
}

.ContentPage-skills .ContentPage-skillsContainerItem > ul li > ul {
  margin-left: 0;
}

@media only screen and (--medium) {
  .ContentPage-skills .ContentPage-skillsContainerItem > ul li > ul {
    margin-left: 1.25rem;
  }
}

.ContentPage-skills .ContentPage-skillsContainerItem > ul li > ul li {
  list-style: none;
  font-weight: normal;
  font-size: 0.85em;
}

.ContentPage-skillsContainer {
  margin-bottom: 2rem;
}
