@import '../variables.css';

.Contact {
  text-align: center;
  padding-bottom: 3rem;
  background-color: var(--black);
}

@media only screen and (--medium) {
  .Contact {
    text-align: left;
  }
}

.Contact h2 {
  color: var(--text-light);
}

.Contact-leftSection .columns {
  padding: 0;
}

.Contact-leftSection .icon-social {
  margin-left: 0;
}

.Contact-leftSectionImg {
  margin-top: 2rem;
}

@media only screen and (--medium) {
  .Contact-leftSectionImg {
    margin-top: 0;
  }
}

.Contact-rightSection {
  margin: 2rem 0 0;
  text-align: center;
}

@media only screen and (--medium) {
  .Contact-rightSection {
    margin: 0;
    text-align: right;
  }
}
