---
title: PaulGraffix
component: ContentPage
---
section#info.ContentPage-info
  div.row
    div.small-12.text-center.columns
      h1 Paul Graffam
      h2 Full Stack Web Developer
      img(src="https://res.cloudinary.com/dp1pal3mi/image/upload/v1442042607/me_kod5c8.png")

section#skills.ContentPage-skills
  div.row
    div.small-12.columns
      h2.columns Skills

      div.small-12.medium-4.columns
        h3 Front-End
        ul
          li Languages & Frameworks
            ul
              li HTML5
              li CSS3/PostCSS
              li Bootstrap/Foundation
              li JavaScript/ES6
              li Sass/Less
              li Backbone/Marionette
              li Handlebars/Mustache
              li Jade/HAML

          li Libraries
            ul
              li jQuery/jQuery UI/Zepto
              li Angular
              li React/Flux
              li Underscore
              li D3.js
              li Three.js/WebGL

          li Managers & Bundlers
            ul
              li Grunt/Gulp
              li Webpack
              li Browserify
              li NPM
              li Bower
              li Docker
              li Yeoman

          li Testing
            ul
              li Jasmine/Mocha/Jest
              li Karma
              li BrowserStack
              li CircleCI/Travis

      div.small-12.medium-4.columns
        h3 Back-End
        ul
          li Languages & Frameworks
            ul
              li PHP
              li C#
              li Ruby/Rails
              li .Net
              li Node.js
              li Python
              li Compass
              li MEAN/LAMP
              li MVC

          li Database
            ul
              li SQL
              li mySQL
              li MongoDB

          li API
            ul
              li Google/Twitter/Facebook
              li OAuth
              li REST
              li XML/XSL
              li JSON

          li CMS
            ul
              li Wordpress
              li Jekyll/Octopress
              li Tumblr
              li Concrete5
              li Drupal
              li ModX

      div.small-12.medium-4.columns
        h3 Other
        ul
          li IDEs
            ul
              li Sublime Text
              li WebStorm/PHPStorm
              li Visual Studio
              li Eclipse
              li Notepad++

          li Version Control
            ul
              li Git
              li SVN
              li Github/Bitbucket

          li Bug Tracking & Project Management
            ul
              li JIRA
              li Done Done
              li Trello
              li Confluence/Basecamp
              li Agile/Scrum

          li Hosting
            ul
              li Nginx
              li Apache
              li Heroku
              li AWS
              li Google App Engine
              li Firebase
              li Mongolab
              li Microsoft IIS

          li Utilities
            ul
              li Google Analytics
              li Cloudflare
              li Disqus
              li Cloudinary
              li Sourcetree
