:root {
  /*
   * Colors
   * ======================================================================== */

  --white-base:            hsl(255, 255, 255);
  --white:                 color(white);
  --black:                 color(black);
  --gray-darker:           color(black lightness(+13.5%)); /* #222 */
  --gray-dark:             color(black lightness(+25%));   /* #404040 */
  --gray:                  color(black lightness(+33.5%)); /* #555 */
  --gray-light:            color(black lightness(+76.7%)); /* #777 */
  --gray-lighter:          color(black lightness(+93.5%)); /* #eee */

  --text-light:            gray(255, 85%);
  --text-dark:             gray(0, 85%);

  /*
   * Typography
   * ======================================================================== */

  --font-family-base:      'Noto Sans', sans-serif;
  --font-family-heading:   'Oxygen', sans-serif;

  /*
   * Layout
   * ======================================================================== */

  --max-content-width:     1200px;

  /*
   * Media queries breakpoints
   * ======================================================================== */

  @custom-media --medium (min-width: 40.0625em);
  @custom-media --large (min-width: 64.0625em);
  @custom-media --xlarge (min-width: 90.063em);

  /*
   * Animations
   * ======================================================================== */

  --animation-swift:        cubic-bezier(0.455, 0.030, 0.515, 0.955);


  /*
   * Elements
   * ======================================================================== */

  --header-height:          82px;

  --section-buffer-s:         1rem;
  --section-buffer-l:         3rem;
}
